@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .nav-link {
    @apply relative font-semibold text-white cursor-pointer text-[17px] w-fit md:block hidden;
  }

  .nav-link-mobile {
    @apply relative mb-[2rem] font-semibold text-white cursor-pointer text-[27px] w-fit md:block;
  }

  .heading {
    @apply text-center text-white text-[28px] sm:text-[33px] md:text-[45px] font-bold uppercase;
  }
}

.nav-link::after,
.nav-link-mobile::after {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  background-color: #facc15;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: center;
}

.nav-link:hover::after,
.nav-link-mobile:hover::after {
  transform: scaleX(1);
}
